.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.card .title {
    font-size: 20px;
}

.sombra {
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.12);
}