.header {
    padding: 100px 0;
    text-align: center;
    background-color: white;
}

.header .title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.header .subtitle {
    color: rgb(66, 66, 66);
}