.postagem {
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 20px 0 0 0;
}

.postagem .subtitulo, 
.postagem .data {
    color: rgb(66, 66, 66);
}

.postagem .capa,
.postagem .capa img {
    width: 150px;
    height: 150px;
}

.legenda-postagem {
    display: flex;
    gap: 5px;
}