.postagem {
    line-height: 28px;
}

.postagem .title {
    font-size: 18px;
}

.postagem .categoria {
    font-size: 12px;
}

.postagem .subtitulo, 
.postagem .data {
    color: rgb(66, 66, 66);
}