.postagem {
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 25px 0;
}

.postagem .title {
    font-size: 18px;
}

.postagem .categoria {
    font-size: 12px;
}

.postagem .subtitulo, 
.postagem .data {
    color: rgb(66, 66, 66);
}

.postagem .capa,
.postagem .capa img {
    width: 150px;
    height: 150px;
}