.titulo-principal {
    font-size: 3.5rem;
}

.titulo-postagem {
    font-size: 2.6rem;
}

.subtitulo-postagem {
    font-size: 1.6rem;
}

.resumo-postagem {
    font-size: 1.2rem;
}

.texto-postagem {
    font-size: 1.1rem;
}

.legenda-postagem {
    font-size: 0.8rem;
}

.titulo-secao {
    font-size: 1.7rem;
}

.subtitulo-secao {
    font-size: 1.4rem;
}

.legenda-secao {
    font-size: 0.7rem;
}